h1 {
  text-align: center;
}

.form_data {
  padding: auto;
}

.text-area {
  height: 4px ;
  width: 360px ;
}

.center {
  text-align: center;
}

span {
  font-weight:bold;
}
ul {
  list-style-type: none;
}
