<div class="container">
  <div class="jumbotron center">
    <p>Currently using this <span class="italics">phat</span> jumbo to center our form vertically!</p>
  </div>
</div>
<div class="container">
  <div class="row booking-request2">
    <div class="col-md-2">
      <% if flash[:notice] %>
      <div class="alert alert-info">
        <ul class = "unordered-list">
          <p id="required">* required</p>
          <% flash[:notice].each do |error| %>
          <li> <%= error %> </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="col-md-8 ipsum">
      <form action="/booking_request/<%= @space.id %>" method="post">
        <div class="form-group">
          <label for="name">Name *</label>
          <input type="text" class="form-control" name="name" placeholder="your name" >
        </div>
        <div class="form-group">
          <label for="email">Email *</label>
          <input type="email" class="form-control" name="email" placeholder="your email" >
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="from">Date Booked From *</label>
              <input type="date" class="form-control" name="from" placeholder="date booked from" >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="to">Date Booked To *</label>
              <input type="date" class="form-control" name="to" placeholder="date booked to" >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="description">Purpose of visit</label>
              <textarea class="form-control text-area "name="purpose" placeholder="business, pleasure, weekend-getaway"></textarea>
            </div>
            <div class="button text-center">
              <input class="btn btn-success btn-lg "type="submit" value="Book Space">
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="col-md-2">
    </div>
  </div>
</div>
