<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MakersBnB</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div>
        <div class="navbar-header">
          <a href="#" class="navbar-brand">MakersBnB</a>
          <ul class="nav navbar-nav">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </div>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Login</a></li>
        </div>
      </ul>
    </div>
  </nav>
  <div class="jumbotron page-header">
    <h1><small>Welcome to MakersBnB!</small></h1>
  </div>



  <div class="container">


    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <p>Please enter the details of the space available to rent below:</p>
        <form action="/" method="post">
          <div class="form-group">
            <label for="user_name">User name:</label>
            <input type="text" class="form-control" name="user_name" />
          </div>
          <div class="form-group">
            <label for="user_email">User email:</label>
            <input type="email" class="form-control" name="user_email" />
          </div>
          <div class="form-group">
            <label for="space_name">Space name:</label>
            <input type="text" class="form-control" name="space_name" />
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" class="form-control" name="price" />
          </div>
          <div class="form-group">
            <label for="space_description">Description:</label>
            <textarea class="form-control" name="space_description"></textarea>
          </div>
          <div class="form-group">
            <label for="available_from">Available from:</label>
            <input type="text" class="form-control" name="available_from" />
          </div>
          <div class="form-group">
            <label for="available_to">To:</label>
            <input type="text" class="form-control" name="available_to" />
          </div>
          <div class="button">
            <button class="btn btn-success"type="submit">Add Space</button>
          </div>
        </form>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
</body>
</html>
