<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MakersBnB</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">MakersBnB</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
       <% if current_host %> 
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/spaces">Add Space</a></li>
            <li><a href="#">Host Profile</a></li>
            <form method='post' action='/sessions'>
              <input type='hidden' name='_method' value='delete'>
              <input type='submit' value='Log Out'>
            </form>
        </ul>
          <% else %>
          <form class="navbar-form navbar-right">
           <div class="form-group">
             <input type="email" class="form-control" placeholder="log_in_email" name="log_in_email">
                  <input type="password" class="form-control" placeholder="log_in_password" name="log_in_password">

             </div>
             <button type="submit" class="btn btn-default">Log In</button>      
            <% end %>
        </form>

        </ul>
      </div>
    </div>
  </nav>
  <%= yield %>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
</body>
<!-- <footer class="footer">
 <div class="panel panel-default">
   <div class="panel-footer center">Panel footer</div>
 </div>
</footer>
</html> -->